name: publish-container

on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed
permissions:
  contents: write
  packages: write
jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: oom-dcc-arc
    steps:
      - run: sudo apt-get update && sudo apt-get install -y xz-utils
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_sha }}
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true
      - name: Build impure uv venv
        run: nix build --option sandbox relaxed .#oom-uv-bundle
      - name: Publish Houdini Container
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: nix run .#publish-houdini-container
      - name: Tag repo as latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: |
          set -euo pipefail
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git tag -f latest
          git push origin refs/tags/latest --force
