name: publish-houdini-container

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: oom-dcc-arc

    steps:
      - uses: actions/checkout@v4

      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_SHA: ${{ github.sha }}
        run: |
          set -euo pipefail
          nix run .#publish-houdini-container

